* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font: 13px Helvetica, Arial;
}
form {
  background: #F5F5F5;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form input {
  width: 80%;
  margin: 0 auto;

  border: solid 1px grey;
  font-size: 14px;
  padding: 10px;
  /*height: 90px;*/
  border-radius: 6px 0px 0px 6px;
  /*margin-right: .5%;*/
}
form #button {
  border-radius: 0px 6px 6px 0px;
  color:white;
  background: #F0AD4E;
  border: none;
  padding: 10px;
  width: 9%;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
  text-align: right;
}
#notifyUser { position: fixed; bottom: 42px; width: 100%; }







/*/////////////////*/

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #CCDBDC transparent;
    display: block;
    width: 0;
}
.chat .chat-history .you-message {
  background: #CCDBDC;
  color:#003366;
}
.chat .chat-history .me-message {
  background: #E9724C;
}
.chat .chat-history .me-message:after {
  border-color: #E9724C transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat-ul li{
    list-style-type: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.you {
  color: #CCDBDC;
}

.me {
  color: #E9724C;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway",sans-serif;
    color: #003366;
}

.time-right:after {
  float: right;
  color: green;
  /*padding-bottom: 10px;*/
}

.time-left:after {
  float: left;
  color: grey;
  /*padding-bottom: 10px;*/
}

.users-list {
  float:left;
  /*width:100px;*/
  /*height:300px;*/
  padding:10px;
  overflow:scroll-y;
}

.left {
  float: left;
  width: 20%;
  height: 100%;
  /*border-right:1px solid black;*/
}

.right {
  float: right;
  width: 79%;
}
